.my-container {
  background: url("/delaunayexample-prod.jpg") no-repeat center center fixed;
  background-size: cover;
}

.rowHeight{
  height: 90vh;
}

.opaq{
  opacity:.8;
  z-index:99;
}

.dohyeon{
  font-family: 'Do Hyeon', sans-serif;
}

.title-text{
  font-size: 10vh;
}

.desc-text{
  font-size: 4vh;
}